<div class="post-header">
  <a href="/"><h1>Let's Nom</h1></a>
</div>

<div class="post-noms-container">

  <div class="post-noms">
    <h1> Post Noms </h1>
    <hr width="50%">
    <h3>What're You Sharing Today?</h3>

    <form method="post" action="/noms">
      Food Item:
      <input type="text" name="food_name" placeholder="pizza">
      <br>
      Serving Amount:
      <input type="text" name="amount" placeholder="5">
      <br>
      Serving Type:
      <input type="text" name="amount_type" placeholder="cups">
      <br>
      Date Made:
      <input type="date" name="date_made">
      <br>
      Allergens:
      <input type="text" name="allergens" placeholder="Dairy, Soy, Gluten, etc.">
      <br>
      Sharing Location:
      <input type="text" name="address">
      <br>
       Image URL(optional):
      <input type="text" name="image_url">
      <br>
      
      <input type="submit" value="Post Noms!">
    </form>
  </div>
</div>
