<div class="container">
  <a href="/"><h1>Let's Nom</h1></a>


  <form id="signup-form" method="post" action="/users">
    <h3> Sign Up </h3>
    <hr width="50%">
    Name
    <input type="text" name="name" placeholder="e.g., joe" >
    <br>
    <br>
    Email
    <input type="email" name="email" placeholder="e.g., me@example.com" >
    <br>
    <br>
    Password
    <input type="password" name="password" placeholder="6 or more characters">
    <br>
    <br>
    <input type="submit" value="Sign Up">
    
  </form>

</div>
